<ion-view>
    <div class="bar bar-header bar-dark sq-top">
        <i style="margin-left:10%;"><img ng-src="{{baseUrl}}{{checkinHotel.logo}}" style="width:24px;" /></i>
        <h1 class="title">{{checkinHotel.name}}</h1>
    </div>

    <ion-content>
        <div class="cont-rz">
            <div ng-if="checkinHotel">
                <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" style="height:130px;" ng-if="adData">
                    <ion-slide ng-repeat="ad in adData" repeat-done="repeatDone()">
                        <img ng-src="{{baseUrl}}{{ad.adDetailList[0].imageUrl}}" ng-click="goToAd(ad)" style="width:100%;height:100%;" />
                    </ion-slide>
                </ion-slide-box>
            </div>

            <div class="row" ng-if="checkinHotel">
                <button class="col ru-rede" ng-click="goToChoose()"><img src="images/gn-1.png" /><div class="ru-rede-text">挑</div></button>
                <button class="col ru-rede"><img src="images/gn-2.png" /><div class="ru-rede-text">周边</div></button>
                <button class="col ru-rede"><img src="images/gn-3.png" /><div class="ru-rede-text">交通</div></button>
            </div>
            <div class="row" ng-if="checkinHotel">
                <button class="col ru-rede"><img src="images/gn-1.png" /><div class="ru-rede-text">E房超市</div></button>
                <button class="col ru-rede"><img src="images/gn-2.png" /><div class="ru-rede-text">互动电视</div></button>
                <button class="col ru-rede" ng-click="goToRCU()"><img src="images/gn-3.png" /><div class="ru-rede-text">房控</div></button>
            </div>
            <div class="fw-rz-cont" ng-if="checkinHotel">
                <div class="fw-rz-ser" ng-repeat="hotelItem in checkinHotel.itemVMs" ng-click="goToItemInfo(hotelItem.id)" ng-hide="hotelItem.itemTags[0].name ==='介绍'||hotelItem.itemTags[0].name ==='周边'||hotelItem.itemTags[0].name ==='交通'||hotelItem.itemTags[0].name ==='E房超市'||hotelItem.itemTags[0].name ==='互动电视'||hotelItem.itemTags[0].name ==='房控'||hotelItem.itemTags[0].name ==='挑'">
                    <img ng-src="{{baseUrl}}{{hotelItem.itemDetails[0].imageUrl}}" width="100%" height="100%" />
                    <div class="fw-po fw-po-l">{{hotelItem.name}}</div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>