<ion-view>
    <div class="hear-button">
        <div class="bar bar-header">
            <button ng-click="goBack()" class="button icon ion-chevron-left sqer-but"></button>
            <h1 class="title font-f" style="font-family:黑体">{{bbs.categoryName}}</h1>
            <button class="button pull-right ion-ios-plus-outline" ng-click="toAddBbs()"></button>
        </div>
    </div>
    <!--<div class="bar bar-subheader cont-bor-box-shadow">
        <div style="width:100%; height:100%; padding:0px 10px;">
            <div class="row pa-0 sq-tab-button">
                <button class="col acer">最新活动</button>
                <button class="col">热门话题</button>
                <button class="col">吐槽专区</button>
                <button class="col border-r-no">达人推荐</button>
            </div>
        </div>
    </div>-->
    <ion-content style="background:#f1f2f4">
        <div class="ma-to-44 pa-top-10">
            <div class="card ma-b-10">
                <div class="max-img">
                    <div class="item item-avatar">
                        <img ng-src="{{baseUrl}}{{bbs.customer.photoUrl}}" err-src="images/head.png" style="width:100px;" />
                        <h2 style="font-family:黑体;">{{bbs.customer.name}}</h2>
                        <p style="font-family:黑体;">{{bbs.createTime}}</p>
                    </div>
                </div>
                <div class="text-bor">
                    <div class="item item-text-wrap pa-0" style="font-family:黑体;">
                        <div class="sq-item-fl pa-l-r-10 pa-bu-10 fo-s14">
                            # {{bbs.title}} # {{bbs.text}}
                        </div>
                        <!-- 一张图片 -->
                        <div ng-click="showImages(1,bbs.id)" class="sq-cont-img1 ma-b-10" ng-if="bbs.bbsAttachUrls.length == 1">
                            <div class="sq-cont-img-div" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[0].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                        </div>
                        <!-- 两张图片 -->
                        <div ng-click="showImages(1,bbs.id)" class="sq-cont-img1 ma-b-10" ng-if="bbs.bbsAttachUrls.length == 2">
                            <div class="sq-cont-img-div ma-r-5" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[0].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            <div class="sq-cont-img-div" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[1].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                        </div>
                        <!-- 三张或三张以上图片 第一排 -->
                        <div ng-click="showImages(1,bbs.id)" class="sq-cont-img1 ma-b-10" ng-if="bbs.bbsAttachUrls.length >= 3">
                            <div class="sq-cont-img-div ma-r-5" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[0].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            <div class="sq-cont-img-div ma-r-5" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[1].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            <div class="sq-cont-img-div" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[2].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                        </div>
                        <!-- 四张以上图片 第二排 -->
                        <div ng-click="showImages(1,bbs.id)" class="sq-cont-img1 ma-b-10" ng-if="bbs.bbsAttachUrls.length > 3">
                            <div class="sq-cont-img-div ma-r-5" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[3].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            <div class="sq-cont-img-div ma-r-5" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[4].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            <div class="sq-cont-img-div" style="background:url({{baseUrl}}{{bbs.bbsAttachUrls[5].attachUrl}})no-repeat;background-size:cover; background-position:center" err-src="images/failed.png"></div>
                        </div>
                    </div>
                </div>
                <div class="text-bor">
                    <div class="item item-divider pa-10 back-f pa-to-0">
                        <div class="row pa-0">
                            <!-- 分享 -->
                            <div ng-click="share(bbs)" class="col col-67 pa-0">
                                <button class="ion-share sq-bu-button" style=""></button>
                            </div>
                            <div class="col col-33 pa-0">
                                <div class="row pa-0">
                                    <!-- 点赞 -->
                                    <div ng-click="agreeBbs(bbs.id)" class="col col-50 pa-0">
                                        <button class="ion-thumbsup sq-bu-button fr"></button>
                                    </div>
                                    <!-- 收藏 -->
                                    <div ng-click="collectBbs(bbs.id)" class="col col-50 pa-0">
                                        <button class="ion-android-star sq-bu-button fr"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 评论、回复 -->
                    <div class="pa-10 pa-to-0">
                        <div class="ma-b-10">
                            <a class="community-pl ma-t-5" href="javascript:void(0)" style="font-family:黑体;">评论（<i>{{bbs.answerCount}}</i>）</a>
                            <div class="ma-b-5" ng-repeat="detail in vm.bbsDetail">
                                <div class="community-pl-cont ma-b-10">
                                    <div class="fo-s14 pa-r-30" style="font-family:黑体;">
                                        <span>{{detail.customer.name}}:</span><b class="colo-3" style="font-family:'黑体';">{{detail.text}}</b>
                                        <a href="javascript:void(0);" class="fo-s14 fr" ng-click="toAnswer(detail.id,detail.customer.name)">回复</a>
                                    </div>
                                    <div class="fo-s14" style="font-family:黑体;" ng-repeat="item in detail.children">
                                        <span>{{item.customer.name}}</span> 回复 <span>{{detail.customer.name}}:</span>
                                        <b class="colo-3" style="font-family:'黑体';">{{item.text}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite -->
        <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="10%"></ion-infinite-scroll>

    </ion-content>
    <ion-footer-bar align-title="left">
        <div class="list list-inset border-style" style="width:100%;">
            <div class="item item-input pa-l-r-10">
                <input id="answerbbs" type="text" ng-model="globalVar.answerText" placeholder="{{globalVar.answerPlaceHolder}}" auto-focus-when="autoFocus">
                <span class="sq-span-style" ng-click="answerbbs(bbs.id,bbs.title)">
                    <i class="icon ion-android-more-horizontal sqfasong-style"></i>
                </span>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>