<ion-view view-title="单个论坛详情">

            <div class="bar bar-dark bar-header">
                <button ng-click="goBack()" class="button icon ion-chevron-left sqer-but"></button>
                <h1 class="title" style="font-family:微软雅黑;">{{bbs.categoryName}}</h1>
            </div>
            <ion-content style="background-color:#ddd;">

                <div class="content sq-hea sqer-hea">
                    <div class="list card item-mb sq-item">
                        <!--bbs内容-->
                        <div href="#" class="item-avatar sq-item-top ">
                            <img ng-src="{{baseUrl}}{{bbs.customer.photoUrl}}" class="sq-item-img" />
                            <div class="sq-item-vit">
                                <h2 style="font-family:微软雅黑;">{{bbs.customer.name}}</h2>
                                <p>{{bbs.createTime}}</p>
                            </div>
                            <div class="sq-item-min">
                                <span style="font-family:微软雅黑;">{{detail.title}}</span>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <!--bbs图片-->
                        <div class="item-body sq-item-cont">
                            <div class="sqer-item-fl" style="font-family:微软雅黑;">{{detail.text}}</div>
                            <div class="row">
                                <div ng-repeat="image in bbs.bbsAttachUrls" class="col"><img href="#"  ng-src="{{baseUrl}}{{image.attachUrl}}" style="width:100%" /></div>
                                
                            </div>
                           
                        </div>
                        <!--bbs图片-->
                        <!--bbs操作-->
                        <div ng-click="showInput()" class="item tabs tabs-secondary tabs-icon-left sq-item-col">
                            <a  class="tab-item sq-tab-item clock-i"  style="border-bottom:2px solid #95c300">
                                <i class="icon ion-chatbox"></i>
                                {{bbs.answerCount}}
                            </a>
                            <!--分享-->
                            <a class="tab-item sq-tab-item" ng-click="share(bbs)">
                                <i class="icon ion-share"></i>
                            </a>
                            <a  ng-click="agreeBbs(bbs.id)" class="tab-item sq-tab-item" href="# ">
                                <i class="icon ion-thumbsup"></i>
                                {{bbs.agreeCount}}
                            </a>
                            <a ng-click="collectBbs(bbs.id)" class="tab-item sq-tab-item" href="#">
                                <i class="icon ion-android-favorite"></i>
                                {{bbs.collectionCount}}
                            </a>
                        </div>

                        <!--bbs操作-->
                        <!--bbs内容-->
                        <!--bbs回帖内容-->
                        <div class="list">
                            <!--评论框-->
                            <div ng-show="showAnswer" class="sq-show">
                                <div class="item-input-inset ">
                                    <label class="item-input-wrapper">
                                        <input type="text" ng-model="globalVar.answerText" placeholder="写点什么..." style="width:100%">
                                    </label>
                                    <button ng-click="answerbbs(bbs.id,bbs.title)" class="button button-small butt-op">
                                        发送
                                    </button>
                                </div>
                            </div>
                            <!--评论框-->
                            <div class="item item-divider sqer-pl" style="font-family:微软雅黑;">
                                评论（{{bbs.answerCount}}）
                            </div>

                            <a ng-click="answerChildren(detail.id)" ng-repeat="detail in vm.bbsDetail" class="item item-icon-left item-icon-right item-avatar" href="#">
                                <img ng-src="{{baseUrl}}{{detail.customer.photoUrl}}">
                                <h2>{{detail.customer.name}}</h2>
                                <p>{{detail.text}}</p>
                                <!--点赞-->
                                <!--<i  ng-click="agreeBbs(detail.id)"   class="icon ion-thumbsup item-icon-right sqer-pl-tb" style="font-size:22px;"></i>-->
                            </a>
                        </div>
                        <!--bbs回帖内容-->
                    </div>
                </div>
                <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite --> 
                <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
            </ion-content>
</ion-view>