<ion-view>
            <div class="bar bar-header" style="border-bottom:1px solid #ddd;background-color:#ddd;">
                <button class="button icon ion-chevron-left sqer-but" style="background-color:#ddd;" ng-click="goBack()"></button>
                <h1 class="title">注册</h1>
                <button class="button button-style" ng-click="goLogin()" style="">登录</button>
            </div>
            <ion-content class="zt-conter">
                <!--内容块-->

                <div class="content has-header list-top">
                    <div class="list list-padding">
                        <label class="item item-input item-border">
                            <span class="input-label input-color">手机号码：</span>
                            <input type="tel" ng-blur="verifyTel()" ng-maxlength="11" ng-model="registerData.mobile" class="input-color">
                            <p>{{msg}}</p>
                        </label>
                        <label class="item item-input item-cont">
                            <span class="input-label input-color">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
                            <input type="password" ng-model="registerData.psd" class="input-color">
                        </label>
                      
                        <label class="item item-input item-cont">
                            <span class="input-label input-color">验&nbsp;&nbsp;证&nbsp;&nbsp;码：</span>
                            <input type="password"  ng-model="registerData.verifyCode" class="input-color">
                        </label>
                        <button class="butt-a butt-atop denglu-stylewe" ng-disabled="verifyDisabled" ng-click="sendShortMessageCode()">{{verifyTips}}</button>
                        <div class="clear"></div>
                    </div>
                    <div class="paddinger">
                        <button class="button button-block denglu-style" ng-click="register()">立即注册</button>
                    </div>
                </div>
                <!--内容块-->
            </ion-content>
    <!--<ion-content>
        <form ng-submit="" class="ng-pristine ng-valid" style="padding:10px 10px; border:none;">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label align-title-left">手机号</span>
                    <input type="number"  ng-blur="verifyTel()" ng-maxlength="11" ng-model="registerData.mobile" class="ng-pristine ng-valid ng-touched" style="">
                     <p>{{msg}}</p>
                </label>
                <label class="item item-input" style="margin-top:5px;">
                    <span class="input-label align-title-left">密码</span>
                    <input type="password" ng-model="registerData.psd" class="ng-pristine ng-valid ng-touched" style="">
                </label>
                <label class="item item-input" style="margin-top:5px;">
                    <span class="input-label align-title-left">验证码</span>
                    <input type="password" ng-model="registerData.verifyCode" class="ng-pristine ng-valid ng-touched" style="">
                    <button class="button" ng-click="sendShortMessageCode()">获取验证码</button>
                 </label>
            </div>
            <div class=" button-bar">
                <a class="button button-small" ng-click="register()">注册</a>
            </div>
        </form>

       
    </ion-content>-->
</ion-view>