<style>
    .col-padding {
        padding: 0.1em;
    }

    .current {
      border-bottom: 2px solid #99c600;
    } 
</style>

<ion-view>
            <div class="bar bar-header bar-dark sq-top">
                <h1 class="title">社区</h1>
                <button class="button button-style" ng-click="toAddBbs()">发表</button>
            </div>
            <div class="tabs-striped tabs-top  tabs-color-active ">
                <div class="tabs sq-tier" style="background-color:#f2f2f2;">
            <a ng-click="gettypedetail(1,1)" class="tab-item" ng-class="{current:1==globalVar.SelectedTag}" href="#" style="color:black;">最新活动</a>
                    <a ng-click="gettypedetail(2,2)" class="tab-item" ng-class="{current:2==globalVar.SelectedTag}" href="#" style="color:black;">热门话题</a>
                    <a ng-click="gettypedetail(3,3)" class="tab-item" ng-class="{current:3==globalVar.SelectedTag}" href="#" style="color:black;">吐槽专区</a>
                    <a ng-click="gettypedetail(4,4)" class="tab-item" ng-class="{current:4==globalVar.SelectedTag}" href="#" style="color:black;">达人推荐</a>
                </div>
            </div>
            <ion-content>
                <ion-refresher pulling-text="" on-refresh="vm.loadMore()"></ion-refresher>
                <!--内容块-->
        <div ng-show="dataShow" class="content sq-hea">
            <div class="list card" ng-repeat="detail in vm.typeDetail">
                <div class="item item-avatar sq-item-top" ng-click="toBbsDetail(detail.id)">
                    <img ng-src="{{baseUrl}}{{detail.customer.photoUrl}}" err-src="images/head.png">
                    <div class="sq-item-vit">
                        <h2>{{detail.customer.name}}</h2>
                        <p>{{detail.createTime|date:'yyyy-MM-dd'}}</p>
                    </div>
                    
                                </div>
                <div class="item item-body" ng-if="detail.bbsAttachUrls">
                    <p ng-click="toBbsDetail(detail.id)">
                        <b ng-if="detail.title">#{{detail.title}}#</b>{{detail.text}}
                    </p>
                    <!--<div style="display:block;">
                    <ul class="grid" ng-click="goToImageBrowse(detail.bbsAttachUrls[0].bbsId)">
                        <li ng-repeat="imgUrl in detail.bbsAttachUrls">
                                <img ng-src="{{baseUrl}}{{imgUrl.attachUrl}}" alt="">
                        </li>
                    </ul>
                    </div>-->
                    <div class="row" ng-click="goToImageBrowse(detail.bbsAttachUrls[0].bbsId)" ng-if="detail.bbsAttachUrls.length">
                        <div class="col col-padding">
                            <img href="#" ng-src="{{baseUrl}}{{detail.bbsAttachUrls[0].attachUrl}}" style="width:100%" err-src ="images/failed.png"/>
                        </div>
                        <div class="col col-padding">
                            <img href="#" ng-src="{{baseUrl}}{{detail.bbsAttachUrls[1].attachUrl}}" style="width:100%" err-src ="images/failed.png"/>
                        </div>
                        <div class="col col-padding">
                            <img href="#" ng-src="{{baseUrl}}{{detail.bbsAttachUrls[2].attachUrl}}" style="width:100%" err-src ="images/failed.png" />
                        </div>
                        <div class="col col-padding">
                            <img href="#" ng-src="{{baseUrl}}{{detail.bbsAttachUrls[3].attachUrl}}" style="width:100%" err-src ="images/failed.png"/>
                        </div>
                    </div>
                    <p ng-click="toBbsDetail(detail.id)">
                        <a href="#" class="subdued">赞{{detail.agreeCount}}次</a>
                        <a href="#" class="subdued">评论{{detail.answerCount}}次</a>
                        <a href="#" class="subdued">收藏{{detail.collectionCount}}次</a>
                    </p>
                                </div>
                <div class="item tabs tabs-secondary tabs-icon-left" style="background-color:#f2f2f2;">
                    <a class="tab-item" href="#" ng-click="agreeBbs(detail.id,detail.agreeCount)" style="color:black;">
                        <i class="icon ion-thumbsup">
                        </i>
                        赞
                    </a>
                    <a class="tab-item" href="#" ng-click="share(detail)" style="color:black;">
                        <i class="icon ion-share">
                        </i>
                        分享
                    </a>
                    <a class="tab-item" href="#" ng-click="collectBbs(detail.id,detail.collectionCount)" style="color:black;">
                        <i class="icon ion-android-favorite">
                        </i>
                        收藏
                        </a>
                        </div>
                <div class="sq-show">
                    <div class="item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" id="bbs-{{detail.id}}" ng-model="detail.anstext" placeholder="写点什么..." style="width:100%">
                        </label>
                        <button ng-click="answerbbs($index,detail.id,detail.title)" class="button button-small butt-op" style="color:black;">
                            发送
                        </button>
                    </div>
                </div>
                        </div>

                </div>
                <div ng-show="msgShow" style="text-align:center;margin-top:10px;"><h3>暂无数据,请稍后重试！</h3></div>
                <!--内容块-->
                <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
                <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
            </ion-content>

</ion-view>