<!--系统设置-->
<ion-view>
    <div class="bar bar-header item-input-inset sz-top">
        <button ng-click="goBack()" class="button icon button-clear ion-ios-arrow-back " style="color:#444"></button>
        <h1 class="title sz-top-text">设置</h1>
    </div>
        <ion-content class="sz-cont-background">
            <div class="content has-header ionic-pseudo sz-ion-col">
                <div class="list">
                    <div class="item item-button-right sz-item">
                        意见反馈
                        <button ng-click="goFeedback()" class="button button-clear">
                            <i class="icon ion-ios-arrow-forward sz-ion-colriges"></i>
                        </button>
                    </div>
                    <div class="item item-button-right sz-item">
                        关于我们
                        <button class="button button-clear ">
                            <i class="icon ion-ios-arrow-forward sz-ion-colriges"></i>
                        </button>
                    </div>
                    <div class="item item-button-right sz-item">
                        帮助中心
                        <button class="button button-clear ">
                            <i class="icon ion-ios-arrow-forward sz-ion-colriges"></i>
                        </button>
                    </div>
                </div>

            </div>
        </ion-content>
</ion-view>