<style>
    .tellme-imageContainner {
        width: 100%; /*元素的宽度*/
        height: 100%; /*元素的高度*/
        position: absolute;
        top: 100px; /*值的大小等于元素高度的一半*/
    }

    .tellme-img {
        display: table-cell; /*让元素以表格的单元素格形式渲染*/
        vertical-align: middle; /*使用元素的垂直对齐*/
    }
</style>
<ion-view>
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" style="background-color:#444444;height:100%;" class="slidebox" auto-play="false" slide-interval="4000" delegate-handle="slideimgs" does-continue="false">
            <ion-slide ng-repeat="image in bbsImage" ng-click="goBack()" style="height:100%;">
                <div style="width:100%;height:100%;top:{{image}}">
                    <img ng-src="{{baseUrl}}{{image.attachUrl}}" alt="" style="width:100%; height:auto" err-src="images/failed.png"/>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>