<ion-view>
    <div class="bar bar-header">
        <button ng-click="goBack()" class="button icon ion-chevron-left sqer-but"></button>
        <h1 class="title">评论</h1>
    </div>
    <ion-content>
        <div  ng-show="dataShow" style="margin-top:47px;">
            <div ng-repeat="discuss in vm.listData" class="pl-cont">
                <div class="pl-cont-s">
                    <a ng-if="discuss.post.customerId==customer.id" href="#" class="pl-esr">
                        <img class="fl" ng-src="{{$scope.baseUrl}}{{customer.photoUrl}}" />
                        <div class="fl pl-esr-cont"><span>{{customer.name}} ：</span><b class="zxx_text_overflow_3">{{discuss.post.text}}</b></div>
                        <div class="clear"></div>
                    </a>
                    <a ng-if="discuss.post.customerId!=customer.id" href="#" class="pl-esr">
                        <img class="fl" ng-src="{{$scope.baseUrl}}{{discuss.post.customer.photoUrl}}" />
                        <div class="fl pl-esr-cont"><span>{{discuss.post.customer.name}} ：</span><b class="zxx_text_overflow_3">{{discuss.post.text}}</b></div>
                        <div class="clear"></div>
                    </a>
                    <div ng-repeat="dicList in discuss.dynamics">
                        <img class="fl pl-img-toux" ng-src="{{$scope.baseUrl}}{{dicList.customer.photoUrl}}" />
                        <div class="fl pl-text-s pl-text-er"><span>{{dicList.customer.name}}</span><i>回复了你：</i> <b class="zxx_text_overflow_3">{{dicList.from.text}}</b></div>
                        <button class="fr pl-hf-button"><img src="images/hf.png" class="fl" /><div class="fr">回复</div></button>
                        <div class="clear"></div>
                    </div>

                 
                    <!--<div>
                        <img class="fl pl-img-toux" src="images/tx.jpg" />
                        <div class="fl pl-text-s"><span>小明</span> <i>评论了你：</i> <b>这个酒店周边有大型商店吗？</b></div>
                        <div class="clear"></div>
                    </div>-->
                </div>
            </div>
         
        </div>
        <div ng-show="msgShow" style="text-align:center;margin-top:50px;"><h3>暂无数据,请稍后重试！</h3></div>
    </ion-content>
</ion-view>