.carousel-container{
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  z-index: 100;
  height: 100%;
  overflow-x:hidden;
  overflow-y:hidden;
.carousel-close{
    position: absolute;
    right: 5px;
    top: 5px;
    color: white;
  }
  .carousel{
    margin-top:33%;
    position:relative;
    min-height: 400px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

  ul{
    list-style: none;
    list-style-type: none;
    padding-left: 0px;
    position: absolute;
  li {
    float:left;
    position: relative;
    img {
      width: 90%;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  }
  .carousel-arrow-left{
     width: 20px;
     height: 20px;
     position: absolute;
     top: 25%;
     left: 10%;
     position: absolute;
     z-index: 102;
     opacity: 0.5;
     i {
       font-size: 32px;
       color: white;
     }
  }
  .carousel-arrow-right{
     width: 20px;
     height: 20px;
     top: 25%;
     right: 10%;
     position: absolute;
     z-index: 102;
     opacity: 0.5;
     i {
       font-size: 32px;
       color: white;
     }
  }
  }
}

/*¹þ¹þ*/
.device {
  width: 100%;
  position: relative;
  margin: 10px auto;
  height: 250px;
}
.swiper-container {
  width: 100%;
  color: #fff;
  text-align: center;
}
.swiper-slide {
  height: 100%;
  /*opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);*/
}
