    .jd-has-header {
     top:0px;
    }
        body, ul, li {
            padding: 0;
            margin: 0;
            border: 0;
        }
         a,a:hover{ text-decoration:none; color:#333}

        body {
            font-size: 12px;
            font-family: ubuntu, helvetica, arial;
           
        }

.jd-border-no {
border:none
}

.jd-cont-col {
float:right; background:#fff;
}
    .jd-cont-col i {
    color:#000;
    }
.jd-has-head {
padding:10px;
  background:#ddd;
  padding-top:0px;
}
.in-cont {
     text-align:left;  color:#666; border:none
}
.span-ti {
color:#828282; font-family:'Î¢ÈíÑÅºÚ';
}
.i-fl {
color:#9ac600; float:right;
}
.erw {
position:relative;float:right; margin-top:5px; margin-right:7px;
}
    .erw img {
    border-radius:50%; width:30px; border:2px solid #fff;position:absolute;
    }
    .img1 {
    right:0px;
    }
     .img2 {
    left:-50px;
    }
     .img3 {
    left:-70px;
    }
   

.item-avatar {
    padding-right:10px; padding-top:2px;padding-bottom:2px; border-bottom:none;
}
    .item-avatar h2 {
    line-height:65px; float:left; color:#828282; font-family:'Î¢ÈíÑÅºÚ';
    }
.bu-er {
float:right; height:20px; background:none; border:1px solid #ddd; padding:0 3px;color:#ddd; margin-top:23px; border-radius:3px; font:'ËÎÌå'; font-size:0.8em
}
    .bu-er:hover {
        border:1px solid #9ac600; color:#9ac600;
    }
.item-body-top {
border-top:none; padding:0px;padding-top:10px;
}
.pad-cont {
padding:10px 10px; height:auto;
}
        #wrapper {
            position: absolute;
            z-index: 1;
            top: 5px;
            bottom: 48px;
            left: 0;
            width: 90%;
            overflow: hidden;
            height:37px;
            background:#fff;
        }

        #scroller {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            height: auto;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            -o-text-size-adjust: none;
            text-size-adjust: none;
        }

            #scroller ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 38px;
                text-align: center;
            }

            #scroller li {
                display: block;
                float: left;
                width: 80px;
                height: 37px;
                line-height:30px;
                font-size: 1.45em;
                font-family:'Î¢ÈíÑÅºÚ';
               border-bottom:1px solid #fff; 
            }
                #scroller .li-but{
                 border-bottom:1px solid #9ac600
                }
            .clear {
                clear:both;
            }
            .button-kp {
                max-height:25px;
            }

    .p-te {
        font-family:'Î¢ÈíÑÅºÚ';
        color:#626161;
    }

        .p-te span {
        color:#3f3f3f;
        font-size:1.2em;
        }
   
      .pane, .view {
     background:none;
    }

    .jd-tab-itemer {
     border-right:1px solid #dedede;
    }
.item-mb {
margin:0px 0px;
}
.jd-item-mb {
    margin-bottom:10px;
}
.p-text {
     color:#626161;
}
 /*Í¼Æ¬ÇÐ»»*/

 .swiper-container3-sws {
     position:relative; display:inline-block; border:3px solid #ddd;
}
.swiper-container3-border {
    border:3px solid #fff;
}
.swiper-container3-sws img{
    width:70px; height:70px;

}

    .swiper-container3-sws i {
        position:absolute;bottom:5px;left:5px;color:#fff;font-size:1.2em;
    }
.tu-cont {
    width:500px;height:76px;
}
.tu-cont-cont {
    width:100%; height: 76px;padding-left:10px;
}
.cont-too {
    height:83px; margin-top:52px; width:100%;padding:0px 10px;
}
.full-image {
    width:100%; height:229px;
}

/*Í¼Æ¬*/
.grid {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
}

.grid li {
  width: 50%;
  background: #000000;
  float: left;
  position: relative;
  overflow: hidden;
}

.grid img {
  float: left;
  width: 100%;
  height: auto;
  position: relative;
  
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
	 -webkit-transform: translate3d(0,0,0);
}

.grid .info {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #DC584C;
  display: none;
  z-index: 2;
  
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
	 -webkit-transform: translate3d(0,0,0);
}

.grid p {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
}