.tellme .slider {
    height: 100%;
}
.tellme.btm .slider {
    margin-bottom: -50px;
}
.tellme .slider-slides {
    width: 100%;
}

.tellme .slider-slide {
    padding-top: 0px;
    color: #000;
    background-color:#fff;
    text-align: center;
    font-weight: 300;
}

.tellme .tsb-icons {
    text-align: center;
    margin: 10px 0;
    position: relative;
	background-color:#fff;
}
.tellme-scroll-tsb-icons {
    text-align: center;
    margin: 10px 0;
    position: relative;
	background-color:#fff;
}

.tellme .tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}
.tellme-scroll-tsb-ic-wrp {
    display: flex;
    position: relative;
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
	-webkit-transform:translate3d(0,0,0);
}

.tellme .tsb-icons a {
    display: inline-block;
    width: 54px;
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.3);
	-webkit-transform:translate3d(0,8px,0);
}

.tellme .tabbed-slidebox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.tellme .tsb-icons:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 1.4em 1.4em 1.4em;
    border-color: transparent transparent #0398dc transparent;
    position: absolute;
    content: "";
    display: block;
    bottom: -12px;
    left: 50%;
    margin-left: -14px;
}
.tsb-hscroll.scroll-view{
  	white-space: nowrap;
	margin:0 auto;
}

.tsb-hscroll.scroll-view .scroll-bar{
	visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
	-webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tellme .tsb-icons .scroll a{
	width:45px;
    height:73px;
	font-size: 1em;
	line-height:8em;
	text-decoration: none;
    text-align:center;
	margin: 0 10px;
	border-bottom: 3px solid transparent;
    background:url(../images/ke_1.png) no-repeat center 100%;
    background-size:auto 60%;
    background-position:top center;
    
}
.tellme-scroll-tsb-icons a{
    	width:45px;
    height:73px;
	font-size: 1em;
	line-height:8em;
	text-decoration: none;
    text-align:center;
	margin: 0 10px;
	border-bottom: 3px solid transparent;
    background:url(../images/ke_1.png) no-repeat center 100%;
    background-size:auto 60%;
    background-position:top center;
}
    .tellme-scroll-tsb-icons a.active {
        	font-size: 1em;
    background:url(../images/ke_05.png) no-repeat center 100%;
    background-size:auto 60%;
    background-position:top center;
    color:#6dcda5;
    }
.tellme .tsb-icons .scroll a.active {
	font-size: 1em;
    background:url(../images/ke_05.png) no-repeat center 100%;
    background-size:auto 60%;
    background-position:top center;
    color:#6dcda5;
}

.tellme .tsb-icons a.active {
}

