<ion-nav-view>
    <ion-view>
        <div class="hear-button">
            <div class="bar bar-header" style=" border-bottom:1px solid #dedede">
                <button class="button button-clear ion-chevron-left" ng-click="goBack()"></button>
                <h1 class="title font-f" style="font-family:黑体;">酒店</h1>
            </div>
            <div class="bar bar-subheader pa-0">
                <div title="Home" hide-nav-bar="true" class="grogshop-top">
                    <ion-scroll scrollbar-x="false" zooming="true" direction="x" style="width:100%;">
                        <div class="grogshop-nav" style="width: {{rootMenuWidth}};">
                            <ul>
                                <li ng-repeat="rootMenu in rootMenuArray"><button class="{{rootMenu.cName}}" style="font-family:黑体; height:41px;" ng-click="rootMuneSelected(rootMenu.index)">{{rootMenu.data.name}}</button></li>
                                
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </ion-scroll>
                </div>
            </div>
        </div>

        <ion-content style="background:#f1f2f4">
            <div class="ma-to-88 pa-top-10">

                <div class="grogshop-top-nav ma-b-10 pa-l-r-10">
                    <div title="Home" hide-nav-bar="true">
                        <ion-scroll scrollbar-x="false" zooming="true" direction="x" style="width:100%;">
                            <div class="grogshop-nav-nav" style="width: {{childMenuWidth}};">
                                <ul>
                                    <li ng-repeat="childMenu in childMenuArray"><button class="{{childMenu.cName}}" ng-click="childMuneSelected(childMenu.index)" style="border:none "><img ng-src="{{host}}{{childMenu.data.defaultImageUrl}}" width="100%" height="100%" /><i>{{childMenu.data.name}}</i></button></li>
                                    <!--<li class="button-activ"><button class="pa-0" style="border:none"><img /><i>游泳馆</i></button></li>
                                    <li><button class="pa-0" style="border:none"><img /><i>健身房</i></button></li>
                                    <li><button class="pa-0" style="border:none"><img /><i>SPA</i></button></li>
                                    <li><button class="pa-0" style="border:none"><img /><i>温泉</i></button></li>
                                    <li><button class="pa-0"style="border:none"><img /><i>各类球场</i></button></li>--> 
                                    <div class="clear"></div>
                                </ul>
                            </div>
                        </ion-scroll>
                    </div>
                </div>
                <div ng-if="itemListEmpty" align="center">
                    {{loadListerrMsg}}
                </div>
                <div ng-repeat="item in list">
                    <div class="cont-bor-box-shadow ma-b-10 pa-top-10" style="background:#fff;" ng-click="toDetailPage(item.hotel.id, item.item.id)">

                        <div class="grogshop-images">
                            <img ng-src="{{host}}{{item.itemDetail.imageUrl}}" width="100%" />
                            <button class="pa-0 grogshop-button-1" ng-click="saveCollection(item.item.id)">
                                <div class="ba-col-fe "></div>
                                <i class="ion-android-favorite"></i>
                            </button>
                            <button class="pa-0 grogshop-button-2" ng-click="savePraise(item.item.id)">
                                <div class="ba-co-8a"></div>
                                <i class="ion-thumbsup"></i>
                            </button>
                            <button class="pa-0 grogshop-button-3" ng-click="share(item.item.name,item.item.text,item.itemDetail.imageUrl)">
                                <div class="ba-co-4c"></div>
                                <i class="ion-ios-redo"></i>
                            </button>
                        </div>
                        <div class="list">

                            <div class="grogshop-text">
                                <div class="item item-avatar">
                                    <img ng-src="{{host}}{{item.hotel.logo}}">
                                    <h2 style="color:#4cb4fb; font-family:黑体; font-size:16px;">{{item.hotel.name}}</h2>
                                    <p>2016-01-24</p>
                                </div>
                                <div class="item item-body" style="padding:10px; padding-top:0px;">
                                    <p style="margin:0px; font-size:12px; font-family:黑体">
                                        {{item.item.text}}
                                    </p>
                                </div>
                            </div>
                            <div class="pa-l-r-10 ma-b-10" ng-click="cancelTurn()">
                                <div class="item item-input pa-l-r-10">
                                    <input type="text" placeholder="我也说一句" ng-model="comments[$index]">
                                    <span class="sq-span-style" ng-click="saveComment($index, item.item.id)">
                                        <i class="icon ion-android-more-horizontal sqfasong-style "></i>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
               
            </div>
        </ion-content>
    </ion-view>
</ion-nav-view>