<ion-nav-view>
    <ion-view>
        <div class="hear-button">
            <div class="bar bar-header">
                <button class="button button-clear ion-chevron-left"></button>
                <h1 class="title font-f" style="font-family:黑体">酒店详情</h1>
            </div>
            <div class="bar bar-subheader pa-0">
                <div title="Home" hide-nav-bar="true" class="grogshop-top">
                    <ion-scroll scrollbar-x="false" zooming="true" direction="x" style="width:100%;">
                        <div class="grogshop-nav" style="width: {{rootMenuWidth}};">
                            <ul>
                                <li ng-repeat="rootMenu in rootMenuArray"><button class="{{rootMenu.cName}}" ng-click="rootMuneSelected(rootMenu.index)" style="font-family:黑体">{{rootMenu.data.name}}</button></li>
                                
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </ion-scroll>
                </div>
            </div>
        </div>

        <ion-content style="background:#f1f2f4">
            <div class="ma-to-88 pa-top-10 cont-bor-box-shadow" style="">
                <div class="grogshop-top-nav ma-b-10 pa-l-r-10">
                    <div title="Home" hide-nav-bar="true">
                        <ion-scroll scrollbar-x="false" zooming="true" direction="x" style="width:100%;">
                            <div class="grogshop-nav-nav" style="width: {{childMenuWidth}};">
                                <ul>
                                    
                                    <li ng-repeat="childMenu in childMenuArray"><button class="{{childMenu.cName}}" style="border:none" ng-click="childMuneSelected(childMenu.index)"><img ng-src="{{host}}{{childMenu.data.itemDetail.imageUrl}}" width="100%" height="100%" /><i>{{childMenu.data.item.name}}</i></button></li>
                                    
                                    <div class="clear"></div>
                                </ul>
                            </div>
                        </ion-scroll>
                    </div>
                </div>
                <div class="xq-cont-style">
                    <div class="pa-bo-10">
                        <div ng-repeat="item in itemData.details">
                            <span class="fo-s16 ma-b-10  pa-l-r-10 pa-top-10 colo-3" style="font-family:'黑体'; display:block;">{{itemData.item.name}}</span>
                            <img ng-show="!itemData.tagTransport" ng-src="{{host}}{{item.imageUrl}}" width="100%" />
                            <div ng-show="itemData.tagTransport" id="positionMap" width="100%"></div>
                            <div class="pa-top-10  pa-l-r-10">
                                <p class="fo-s14 pa-bo-10 colo-6 xq-p-style" style="font-family:黑体;">
                                   {{item.note}}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="fx-cont-bottom">
                        <div class="pa-10 pa-to-0">
                            <div class="ma-b-10">
                                <div class="ma-b-5" ng-repeat="detail in comment">
                                    <div class="community-pl-cont" style="font-family:黑体;">
                                        <div class="fo-s14 fl" style=""><img ng-src="{{host}}{{detail.customerPhoto}}" err-src="images/head.png"><span>{{detail.customerName}}</span></div>
                                        <a href="javascript:void(0);" class="fo-s14 fr">回复</a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="community-pl-hf">
                                        <span class="fo-s14  ma-l-3" style="font-family:'黑体';">{{detail.text}}</span>
                                        <!--<div style="font-family:'黑体';"><span>官方</span> 回复 <span>国际酒店：</span>是啊！</div>
                                        <div style="font-family:'黑体';"><span>国际酒店</span> 回复 <span>官方：</span>还有什么其他的推荐么？</div>-->
                                    </div>
                                </div>
                                <ion-infinite-scroll ng-if="!cvm.moredata" on-infinite="cvm.loadMore()" distance="1%"></ion-infinite-scroll>
                                <a class="community-pl ma-t-5" href="javascript:void(0)" style="font-family:黑体;">评论（<i>{{comment.length}}</i>）</a>
                            </div>
                            <div class="list list-inset ma-to-10 border-style">
                                <div class="item item-input pa-l-r-10" style="border:none">
                                    <input type="text" placeholder="我也说一句" ng-model="comments[0]">
                                    <span class="sq-span-style" ng-click="saveComment(itemData.item.id)">
                                        <i class="icon ion-android-more-horizontal sqfasong-style "></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ion-content>
        <div class="bar bar-footer">
            <div class="button-bar button-cont-style">
                <a class="button" style="border:none; background:#fff;font-family:'黑体';" ng-click="share(itemData.item.name, itemData.item.text, itemData.details[0].imageUrl)"><i class="ion-ios-redo icon-left i-button-style1"></i>转发</a>
                <a class="button" style="border:none; background:#fff; font-family:'黑体';" ng-click="savePraise(itemData.item.id)"><i class="ion-thumbsup icon-left i-button-style2"></i>点赞</a>
                <a class="button" style="border:none; background:#fff;font-family:'黑体';" ng-click="saveCollection(itemData.item.id)"><i class="ion-android-favorite icon-left i-button-style3"></i>收藏</a>
            </div>
        </div>
    </ion-view>
</ion-nav-view>
