<ion-view>
        <ion-header-bar class="bar bar-header bar-light ">
            <button class="button icon ion-chevron-left jd-border-no" ng-click="goBack()"></button>
            <h1 class="title">娱乐设施</h1>
        </ion-header-bar>
        <!--导航-->
        <div class="bar bar-subheader">
            
            <ion-view title="Home" hide-nav-bar="true" style="padding-left:10px;">
                <ion-scroll scrollbar-x="false" zooming="true" direction="x" style="width:90%;">
                    <div class="nav-conter" style="width: {{rootMenuWidth}};">
                        <ul id="list"></ul>
                    </div>
                </ion-scroll>
            </ion-view>
            <div class="clear"></div>
        </div>
        <!--导航-->
        <ion-content style="background-color:#ddd;">
            <div class="cont-too">
                <ion-view title="Home" hide-nav-bar="true">
                    <ion-scroll zooming="true" direction="x" scrollbar-x="false" class="tu-cont-cont">
                        <div class="tu-cont" id="child_menu_view">
                            
                        </div>
                    </ion-scroll>

                </ion-view>
            </div>
            <!--内容块-->
            <div class="content has-header jd-has-header jd-has-head">
                <div class="list card item-mb jd-item-mb">


                    <div class="item item-body item-body-top">
                        <div ng-repeat="item in itemData.details">
                            <img class="full-image" ng-src="{{host}}{{item.imageUrl}}">
                            <div class="pad-cont">

                                <div class="clear"></div>
                                <p class="p-te" style="margin-top:0px;margin-bottom:0px;">
                                    <span style="font-family:'微软雅黑';">{{itemData.item.name}}</span>
                                <p class="p-text" style="margin-top:8px;font-family:'微软雅黑';font-size:0.84em">
                                    {{item.note}}
                                </p>
                                </p>

                            </div>
                        </div>
                        
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item jd-tab-itemer" href="javascript:void(0)" ng-click="showComment($index)">
                            <i class="icon ion-chatbox"></i>
                        </a>
                        <a class="tab-item jd-tab-itemer" href="javascript:void(0)" ng-click="share(itemData.item.name, itemData.item.text, itemData.details[0].imageUrl)">
                            <i class="icon ion-share"></i>
                        </a>
                        <a class="tab-item jd-tab-itemer" href="javascript:void(0)" ng-click="savePraise(itemData.item.id)">
                            <i class="icon ion-thumbsup"></i>
                        </a>
                        <a class="tab-item jd-tab-itemer" href="javascript:void(0)" ng-click="saveCollection(itemData.item.id)">
                            <i class="icon ion-android-favorite"></i>
                        </a>
                    </div>

                    <div class="item sq-show" ng-show="commentIds[$index]" ng-click="cancelTurn()">
                        <div class="item-input-inset">
                            <label class="item-input-wrapper">
                                <input type="text" placeholder="写点什么..." ng-model="comments[$index]" style="width:100%" />
                            </label>
                            <button class="button button-small butt-op" ng-click="saveComment($index, itemData.item.id)" style="color:black;">
                                发送
                            </button>
                        </div>
                    </div>
                    <a ng-repeat="detail in comment" class="item item-icon-left item-icon-right item-avatar" href="javascript:void(0)">
                        <img ng-src="{{host}}{{detail.customerPhoto}}" err-src="images/head.png">
                        <h2>{{detail.customerName}}</h2>
                        <p>{{detail.text}}</p>
                        <!--点赞-->
                        <!--<i  ng-click="agreeBbs(detail.id)"   class="icon ion-thumbsup item-icon-right sqer-pl-tb" style="font-size:22px;"></i>-->
                    </a>
                    <ion-infinite-scroll ng-if="!cvm.moredata" on-infinite="cvm.loadMore()" distance="1%"></ion-infinite-scroll>
                </div>
            </div>
            <!--内容块-->
        </ion-content>
</ion-view>

