<ion-view view-title="城市定位">
    <div class="bar bar-dark bar-header">
        <button class="button icon ion-chevron-left dw-but" ng-click="goBack()"></button>
        <label class="item-input-wrapper dw-label">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索城市" ng-model="searchText" class="dw-input" style="height:22px;">
        </label>
        <button class="button  button-qx-col" ng-click="cancelOrsearch()">
            {{cancelBtnText}}
        </button>
    </div>
    <ion-content>
        <!--内容块-->
        <div class="top-cont list dw-list"ng-if="hasInputSearchText">
            <a class="item" href="#" ng-repeat="region in regionlist|filter:searchText" ng-click="changeRegion(region)">{{region.name}}</a>
        </div>

        <div class="top-cont" ng-if="!hasInputSearchText">
            <ul class="dw-ul">
                <li class="fl li-1">当前所在城市:</li>
                <li class="fl li-2">{{currentCity}}</li>
                <li class="fl li-3" ng-click="updateCity()"><a>GPS</a></li>
                <li class="clear"></li>
            </ul>
            
            <div class="dw-tit-on">
                热门搜索
            </div>
            <div class="row dw-row" ng-repeat="hotitem in hotArray" style="margin-top:10px;">
                <button class="col col-20" ng-repeat="item in hotitem" ng-click="changeRegion(item)">{{item.name}}</button>
            </div>

            
            <div class="dw-tit-on">
                历史记录
            </div>
            <div class="row dw-row" ng-repeat="historicitem in historicArray" style="margin-top:10px;">
                <button class="col col-20" ng-repeat="item in historicitem" ng-click="changeRegion(item)">{{item.name}}<i ng-click="deleteHistoricItem(item)" style="float:right;width:1.125em; height:1.125em;border-radius:50%; background:#686161;text-align:top;line-height:1.125em;color:#fff;display:inline-block;left:40px; top:15px;">×</i></button>
            </div>
            <div class="dw-tit-on">
                区域列表
            </div>
            <div class="list dw-list">
                <div ng-repeat="orderItem in orderRegionList">
                    <div class="item item-divider">
                        {{orderItem[0].firstChar|uppercase}}
                    </div>
                    <a class="item" href="#" ng-repeat="item in orderItem" ng-click="changeRegion(item)">{{item.name}}</a>
                </div>
            </div>
        </div>
        <!--内容块-->
    </ion-content>
</ion-view>