<ion-view>
    <div class="bar bar-header item-input-inset sz-top">
        <button class="button icon button-clear ion-ios-arrow-back " style="color:#444" ng-click="goBack()"></button>
        <h1 class="title sz-top-text">房控</h1>
    </div>
    <ion-content style="background:#fff; ">
        <div class="ke-top-nav">
            <button class="ke-col-rde fl" ng-repeat="roomcfg in roomcfgs"><img ng-init="initRoomcfgImage($index,roomcfg)" ng-src="images/{{roomcfg.imageurl}}" ng-click="changeRoomcfg($index,roomcfg)" /><p>{{roomcfg.name}}</p></button>
            <div class="clear"></div>
        </div>
        <tab-slide-box tab="0">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp" style="height:80px;">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}} active" on-finish-render="test()" ng-show="room.tabs['LT']"><span>{{room.tabs['LT'].tabName}}</span></a>
                        <a href="javascript:;" class="{{tab.icon}}" on-finish-render="test()" ng-show="room.tabs['AC']"><span>{{room.tabs['AC'].tabName}}</span></a>
                        <a href="javascript:;" class="{{tab.icon}}" on-finish-render="test()" ng-show="room.tabs['CT']"><span>{{room.tabs['CT'].tabName}}</span></a>
                        <a href="javascript:;" class="{{tab.icon}}" on-finish-render="test()" ng-show="room.tabs['SV']"><span>{{room.tabs['SV'].tabName}}</span></a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" class="ke-ion-slide-box" show-pager="">

                <ion-slide ng-show="room.tabs['LT']">
                    <div class="lamp-cont">
                        <div class="lamp_cont-img"></div>

                        <div ng-if="room" style="width:100%;">
                            <div class="fl" style="width:50%;" ng-repeat="cfgItem in room.rcuCfgItems" ng-show="cfgItem.dtype=='LT'">
                                <div class="row padding-0">
                                    <div class="col col-100 lamp-tie border-le-none">{{cfgItem.name}}</div>
                                </div>
                                <div class="row lamp-cont-ner" ng-repeat="oper in cfgItem.opers" ng-if="oper.tag =='C'">
                                    <div class="row padding-0" ng-if="oper.labels.length ==3" style="margin-top:4px">
                                        <div class="col border-d border-ri-none border-img" ng-repeat="labe in oper.labels" ng-click="changeLampColorMode(cfgItem,oper,labe)"><img ng-src="images/{{labe.pinyin}}.png" class="imger" style="background-color:{{labe.color}}" width="100%" /></div>
                                    </div>
                                    <div class="row padding-0" ng-if="oper.labels.length ==2" style="margin-top:4px">
                                        <div class="col border-d border-img2" ng-repeat="labe in oper.labels" ng-click="changeLampColorMode(cfgItem,oper,labe)"><img src="images/{{labe.pinyin}}.png" class="imger" width="78%" /></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <input type="button" value="ON" class="button-kg" style="height:60px;border-top:1px solid #ddd;" ng-click="powerOnOrOffAllLT()"/>
                    </div>
                </ion-slide>

                <ion-slide ng-show="room.tabs['AC']">
                    <div ng-repeat="cfgItem in room.rcuCfgItems" ng-show="cfgItem.dtype=='AC'">
                        <div class="conditioner-top-cont">
                            <span style="font-family:'黑体';">{{cfgItem.templature}}<a>°</a></span>
                            <strong>{{cfgItem.name}}</strong>
                        </div>
                        <div  ng-repeat="oper in cfgItem.opers">
                            <div class="row padding-0" ng-show="oper.mode==2&&oper.tag =='T'">
                                <button class="col conditioner-button-on" ng-click="changeACTemplature(cfgItem,oper,-1)"></button>
                                <button class="col conditioner-button-to" ng-click="changeACTemplature(cfgItem,oper,1)"></button>
                            </div>
                            <div class="range range-balanced" style="border-bottom:1px solid #ddd; height:65px;" ng-show="oper.mode==1&&oper.tag =='F'">
                                <i class="icon fs-le"><img src="images/kontiao5.png" style="width:70%" /></i>
                                <input type="range" name="volume" min="0" max="10" step="5" value="{{oper.windValue}}" class="input-ct">
                                <i class="icon fs-ri"><img src="images/kontiao5.png" style="width:90%" /></i>
                            </div>
                            <input type="button" value="ON" class="button-if" ng-click="powerOnOrOffAC(cfgItem,oper,'S')" ng-show="oper.mode==1&&oper.tag =='S'"/>
                        </div>

                    </div>

                </ion-slide>

                <ion-slide ng-show="room.tabs['CT']">
                    <div class="style-cont">
                        <div class="cou-images"></div>
                        <div class="row padding-0">
                            <button class="col cou-button-on">窗帘</button>
                            <button class="col cou-button-to">窗纱</button>
                        </div>
                        <div class="row padding-0" style="margin-top:0px;">
                            <div class="col cou-col">
                                <div class="style-cont-to2">
                                    <label class="toggle toggle-balanced">
                                        <input type="checkbox">
                                        <div class="track no-track no-style2">
                                            <span class="fr no-style-span-l">ON</span>
                                            <span class="fl no-style-span-r">OFF</span>
                                            <div class="handle handle-re handle-style2"></div>
                                            <div class="clear"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col cou-col">
                                <div class="style-cont-to2">
                                    <label class="toggle toggle-balanced">
                                        <input type="checkbox">
                                        <div class="track no-track no-style2">
                                            <span class="fr no-style-span-l">ON</span>
                                            <span class="fl no-style-span-r">OFF</span>
                                            <div class="handle handle-re handle-style2"></div>
                                            <div class="clear"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="ON" class="button-if2" />
                    </div>
                </ion-slide>

                <ion-slide ng-show="room.tabs['SV']">
                    <div class="style-cont" ng-if="room">
                        <div class="service-img"></div>
                        <div class="button-bar">
                            <button class="col service-button" ng-click="changeSVMode()">勿打扰</button>
                            <button class="col service-button">请稍后</button>
                            <button class="col service-buttoner">请清洁</button>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>