<ion-view>
    <div class="bar bar-header item-input-inset sz-top">
        <button class="button icon button-clear ion-ios-arrow-back " style="color:#444" ng-click="goBack()"></button>
        <h1 class="title sz-top-text">空调</h1>
    </div>

    <ion-content style="background:#fff; ">
        <div class="ke-top-nav">
            <button class="ke-col-rde ke-border fl" style="width:33%"><img src="images/ke1.jpg" /><p>客厅</p></button>
            <button class="ke-col-rde fl" style="width:33%"><img src="images/ke2.jpg" /><p>主卧</p></button>
            <button class="ke-col-rde fl" style="width:33%"><img src="images/ke3.jpg" /><p>客卧</p></button>
            <div class="clear"></div>
        </div>

        <tab-slide-box tab="0">
            <div class="tsb-icons" style="margin:0px;">
                <div class="tsb-ic-wrp">
                    <ion-scroll direction="x" class="tsb-hscroll">
                        <a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in tabs"
                           on-finish-render="test()">{{tab.text}}</a>
                    </ion-scroll>
                </div>
            </div>
            <ion-slide-box on-slide-changed="slideHasChanged($index)" class="ke-ion-slide-box" show-pager="">

                <ion-slide>
                    <div class="lamp-cont">
                        <div>
                            <span class="lamp-cont-span" style="font-family:'微软雅黑';">客厅灯</span>
                            <div class="ma-button">
                                <div class="fl bag-cont" style="width:33%"><img class="img-style" src="images/ml.png" /></div>
                                <div class="fl bag-cont" style="width:33%"><img class="img-style" src="images/sm.png" /></div>
                                <div class="fl bag-cont" style="width:33%"><img class="img-style" src="images/ml.png" /></div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div>
                            <span class="lamp-cont-span ma-button" style="font-family:'微软雅黑';">卫生间灯</span>
                            <div class="ma-button">
                                <div class="fl bag-conter" style="width:33%"><img class="img-style" src="images/xs.png" /></div>
                                <div class="fl bag-conter" style="width:33%"><img class="img-style" src="images/pm.png" /></div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <button class="lamp-button"></button>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="lamp-conter">
                        <div class="kt-cont">
                            <button class="kt-but-lef">
                                <img src="images/kongtiao2.png" style="width:100%;" />
                            </button>

                            <div class="kt-cont-cot">
                                <div class="kt-cont-cot-div">
                                    <span>25</span>
                                    <p>温度</p>
                                </div>
                            </div>

                            <button class="kt-but-rig">
                                <img src="images/kongtiao-3.png" style="width:100%;" />
                            </button>
                        </div>
                        <div class="range range-balanced" style="margin-top:1.5em;">
                            <i class="icon fs-le"></i>
                            <input type="range" name="volume" min="0" max="100" value="50" class="input-ct">
                            <i class="icon fs-ri"></i>
                        </div>
                        <div class="text-fs">风速</div>
                        <button class="kt-button-switch"></button>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="style-cont">
                        <div class="style-cont-to">
                            <label class="toggle toggle-balanced fl">
                                <input type="checkbox">
                                <div class="track no-track no-style">
                                    <span class="fr no-style-span-l">NO</span>
                                    <span class="fl no-style-span-r">OFF</span>
                                    <div class="handle handle-re handle-style"></div>
                                    <div class="clear"></div>
                                </div>
                            </label>
                            <span class="fr cl-text-span">窗帘</span>
                            <div class="clear"></div>
                        </div>
                        <div class="style-cont-to">
                            <label class="toggle toggle-balanced fl">
                                <input type="checkbox">
                                <div class="track no-track no-style">
                                    <span class="fr no-style-span-l">NO</span>
                                    <span class="fl no-style-span-r">OFF</span>
                                    <div class="handle handle-re handle-style"></div>
                                    <div class="clear"></div>
                                </div>
                            </label>
                            <span class="fr cl-text-span">窗纱</span>
                            <div class="clear"></div>
                        </div>
                        <button class="cl-button-switch"></button>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="style-cont">
                        <div class="style-cont-to">
                            <label class="toggle toggle-balanced fl">
                                <input type="checkbox">
                                <div class="track no-track no-style">
                                    <span class="fr no-style-span-l">NO</span>
                                    <span class="fl no-style-span-r">OFF</span>
                                    <div class="handle handle-re handle-style"></div>
                                    <div class="clear"></div>
                                </div>
                            </label>
                            <span class="fr cl-text-span">请勿打扰</span>
                            <div class="clear"></div>
                        </div>
                        <div class="style-cont-to">
                            <label class="toggle toggle-balanced fl">
                                <input type="checkbox">
                                <div class="track no-track no-style">
                                    <span class="fr no-style-span-l">NO</span>
                                    <span class="fl no-style-span-r">OFF</span>
                                    <div class="handle handle-re handle-style"></div>
                                    <div class="clear"></div>
                                </div>
                            </label>
                            <span class="fr cl-text-span">请稍候</span>
                            <div class="clear"></div>
                        </div>
                        <div class="style-cont-to">
                            <label class="toggle toggle-balanced fl">
                                <input type="checkbox">
                                <div class="track no-track no-style">
                                    <span class="fr no-style-span-l">NO</span>
                                    <span class="fl no-style-span-r">OFF</span>
                                    <div class="handle handle-re handle-style"></div>
                                    <div class="clear"></div>
                                </div>
                            </label>
                            <span class="fr cl-text-span">请清洁</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </ion-slide>

            </ion-slide-box>
        </tab-slide-box>
    </ion-content>

</ion-view>