<ion-view view-title="测试">
    <ion-header-bar class="bar-stable">
        <button class="button icon button-clear ion-ios-arrow-back " style="color:#444" ng-click="goBack()"></button>
        <h1 class="title">Ionic Blank Starter</h1>
    </ion-header-bar>
    <ion-content>
        hello world
        <ul rn-carousel class="image">
            <li ng-repeat="image in sportImages">
                <div class="layer">
                    {{image.url}}
                </div>
            </li>
        </ul>
     </ion-content>
</ion-view>