<ion-view viewtitle="搜索界面">
    <div class="bar bar-header item-input-inset" style="border-style:none">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="搜索">
        </label>
        <button class="button  button-qx-col" ng-click="cancelOrsearch()">
            {{cancelBtnText}}
        </button>
    </div>
    <ion-content style="background-color:#f5f5f5;">
        <!--内容块-->
        <div class="content has-header ionic-pseudo content-top">
            <div class="list" ng-if="!hasSearch">
                <div class="item item-divider a-border">
                    推荐酒店
                </div>
                <div class="list" style="padding:0px 10px;">
                    <a class="item item-avatar a-border " href="#" ng-repeat="recommandHotel in recommandHotels" ng-click="goToHotelInfo(recommandHotel.hotelId)">
                        <img ng-src="{{baseUrl}}{{recommandHotel.imageUrl}}" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;">
                        <h2>{{recommandHotel.name}}</h2>
                        <p>入住舒适度{{recommandHotel.score}}分</p>
                    </a>
                </div>
            </div>
            <div class="list">
                <div class="item item-divider a-border" ng-if="hasSearch">
                    相关酒店
                </div>
                <div class="list" style="padding:0px 10px;" ng-if="hasResultOfHotel">
                    <a class="item item-avatar a-border " href="#" ng-repeat="searchHotel in searchHotels" ng-click="goToHotelInfo(searchHotel.hotelId)">
                        <img ng-src="{{baseUrl}}{{searchHotel.imageUrl}}" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;">
                        <h2>{{searchHotel.name}}</h2>
                        <p>入住舒适度{{searchHotel.score}}分</p>
                    </a>
                </div>
                <div class="item item-divider a-border" ng-if="hasSearch">
                    相关帖子
                </div>
                <div class="list" style="padding:0px 10px;" ng-if="hasResultOfBbs">
                    <a class="item item-avatar a-border " href="#" ng-repeat="detail in searchBbss" ng-click="goToBbsInfo(detail.id)">
                        <img ng-src="{{baseUrl}}{{detail.customer.photoUrl}}" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;" />
                        <div class="item-body sq-item-cont">
                            <div class="sq-item-fl">
                                {{detail.text}}
                                <span>{{detail.title}}</span>
                            </div>
                            <div class="row">
                                {{detail.customer.name}}&nbsp;&nbsp;&nbsp;<i class="icon ion-chatbox"></i>{{detail.answerCount}}&nbsp;&nbsp;&nbsp;<i class="icon ion-share"></i>{{detail.agreeCount}}&nbsp;&nbsp;&nbsp;<i class="icon ion-android-favorite"></i>{{detail.collectionCount}}
                            </div>
                        </div>
                    </a>
                </div>

                <div class="item item-divider a-border" ng-if="hasSearch">
                    其他
                </div>
            </div>

        </div>
        <!--内容块-->
    </ion-content>
</ion-view>