<ion-view viewtitle="搜索界面">
    <div class="bar bar-header item-input-inset" style="border-style:none">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="searchText" placeholder="搜索" />
        </label>
        <button class="button  button-qx-col" ng-click="cancelOrsearch()">
            {{cancelBtnText}}
        </button>
    </div>
    <ion-content style="background-color:#f5f5f5;">
        <!--内容块-->
        <div class="content has-header ionic-pseudo content-top">
            <div class="list" ng-if="!hasSearch">
                <div class="item item-divider a-border">
                    <strong>推荐酒店</strong>
                </div>
                <div class="list" style="padding:0px 10px;">
                    <a class="item item-avatar a-border " href="#" ng-repeat="recommandHotel in recommandHotels" ng-click="goToHotelInfo(recommandHotel.hotelId)">
                        <img ng-src="{{baseUrl}}{{recommandHotel.imageUrl}}" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;">
                        <h2>{{recommandHotel.name}}</h2>
                        <p>入住舒适度{{recommandHotel.score}}分</p>
                    </a>
                </div>
            </div>
            <div class="list">
                <div class="item item-divider a-border" ng-if="hasResultOfHotel">
                    <strong>酒店服务</strong>
                </div>
                <div class="list" style="padding:0px 10px;margin-bottom:0px;" ng-if="hasResultOfHotel">
                    <a class="item item-avatar a-border " href="#" ng-repeat="searchHotel in searchHotels" ng-click="goToHotelInfo(searchHotel.hotelId)">
                        <img ng-src="{{baseUrl}}{{searchHotel.imageUrl}}" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;">
                        <h2>{{searchHotel.name}}</h2>
                        <p>入住舒适度{{searchHotel.score}}分</p>
                    </a>
                </div>
                <div class="item item-divider a-border" ng-if="hasResultOfBbs">
                    <strong>相关帖子</strong>
                </div>
                <div class="list" style="padding:0px 10px;" ng-if="hasResultOfBbs">
                    <div class="item item-avatar a-border "  ng-repeat="detail in searchBbss" ng-click="goToBbsInfo(detail.id)" style="padding-bottom:1px;padding-top:1px;">
                        <img ng-src="{{baseUrl}}{{detail.customer.photoUrl}}"  err-src="images/head.png" style="left:0px;max-width:50px; max-height:50px; border-radius:0px; top:12px;" />
                        <div class="item-body sq-item-cont">
                            <div class="sq-item-fl">
                                <span style="background-color:aqua;">#<strong>{{detail.title}}</strong>#</span><br />
                                {{detail.text| cut:true:100:' ...'}}
                                <p ng-show="func.filterBbsText(detail.text)">……</p>
                            </div>
                            <div class="row">
                                <div class="col col-20" style="float:right;"><i class="icon ion-chatbox"></i>&nbsp;&nbsp;{{detail.answerCount}}</div>
                                <div class="col col-20" style="float:right;"><i class="icon ion-share"></i>&nbsp;&nbsp;{{detail.agreeCount}}</div>
                                <div class="col col-20" style="float:right;"><i class="icon ion-android-favorite"></i>&nbsp;&nbsp;{{detail.collectionCount}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item item-divider a-border" ng-if="false">
                    <strong>其他</strong>
                </div>
            </div>

        </div>
        <!--内容块-->
    </ion-content>
</ion-view>