<ion-view style="background-color:#ddd;">
    <div class="bar bar-dark bar-header" style="border-bottom:1px solid #000;">
        <button class="button icon ion-chevron-left sqer-but" ng-click="goBack()"></button>
        <h1 class="title">登录</h1>
    </div>
    <ion-content class="list-top" >
        <!--内容块-->
        <div class="list list-padding ">
            <button class="butt-a" style="" ng-click="toRegister()">注册</button>
            <div class="clear"></div>
        </div>

        <div class="list list-padding">
            <label class="item item-input item-border">
                <span class="input-label input-color">用户名：</span>
                <input ng-model="loginData.username" type="tel" class="input-color" required ng-maxlength="11" >
            </label>
            <label class="item item-input item-cont" style="margin-top:2px">
                <span class="input-label input-color">密码：</span>
                <input type="password" ng-model="loginData.password" class="input-color" required>
            </label>
        </div>
        <div class="paddinger">
            <button class=" button button-dark button-block" ng-click="login()" style="">登录</button>
        </div>
        <a class="a-style" style="">忘记密码</a>
        <!--内容块-->
    </ion-content>
</ion-view>
