<ion-view>
    <ion-pane>
        <div class="bar bar-dark bar-header" style="border-bottom:1px solid #ddd;">
            <button class="button icon ion-chevron-left sqer-but" ng-click="goBack()"></button>
            <h1 class="title sz-top-text">个人资料</h1>
            <button class="button button-style" ng-click="goToEditMobile()">修改电话</button>
        </div>
        <ion-content style="background-color:#f8f8f8">
            <div class="has-header grtx-cont">
                <div class="list grtx-list">
                    <label class="item item-input item-stacked-label grtz-label" ng-click="show()">
                        <img class="fl" ng-src="{{baseUrl}}{{customerInfo.photoUrl}}" err-src="images/head.png"/>
                        <span class="fl">更换头像</span>
                        <i class="ion-chevron-right fr"></i>
                    </label>
                    <label class="item item-input item-stacked-label grtz-labeler" >
                        <span class="input-label">电话</span>
                        <input type="text" style="width:100%;float:left" value="{{customerInfo.mobile}}" readonly/>
                        <!--<button class="button button-style" ng-click="goToEditMobile()" style="top:5px;min-height:31px;line-height:30px;width:25%;float:right;">修改电话</button>-->
                    </label>
                    <label class="item item-input item-stacked-label grtz-labeler">
                        <span class="input-label">昵称</span>
                        <input style="background-color:#f8f8f8" type="text" ng-model="customerInfo.name"/>
                    </label>
                    
                    <!--<label class="item item-input item-stacked-label grtz-labeler">
                        <span class="input-label">性别</span>
                        <input type="text" placeholder="男">
                    </label>-->
                    <label class="item item-input item-stacked-label grtz-labeler">
                        <span class="input-label">性别</span><br />
                        <select ng-model="customerInfo.sex" style="background-color:#f8f8f8;width:100%;height:34px;padding-left:10px">
                            <!--<option value="0" ng-selected="customerInfo.sex == 0">--请选择性别--</option>-->
                            <option value="1" ng-selected="customerInfo.sex == 1">男</option>
                            <option value="2" ng-selected="customerInfo.sex == 2">女</option>
                        </select>
                    </label>
                    
                    <!--<label class="item item-input item-stacked-label grtz-labeler">
                        <span class="input-label">生日</span>
                        <input type="text" ng-model="customerInfo.birthday" ng-click="selectDate()" readonly/>
                    </label>-->
                    <label class="item item-input item-stacked-label grtz-labeler" style="margin-top:10px;">
                        <button class="button button-dark button-block" ng-click="saveData()">确认修改</button>
                    </label>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>