<ion-view view-title="发现详情">
    <ion-header-bar class="bar bar-header bar-light ion-bor">
        <button class="button icon ion-chevron-left xq-but" ng-click="goBack()"></button>
        <h1 class="title">婚礼专题</h1>
        <button class="button ion-share xq-but" style=" font-size:24px;"></button>
    </ion-header-bar>
    <ion-content>
        <!--内容块-->
        <div ng-show="dataShow"  class="content has-header xq-hea" style="margin-top:45px;">

            <div style="width:100%; text-align:center;">
                <img src="images/fa-1.png" style="width:30%;" />
                <div style="border-bottom:1px solid #c2c2c2">
                    给你一场浪漫婚礼
                </div>
            </div>

            <div ng-repeat="data in vm.listData" class="list card item-mb xq-item">
                <div class="item item-avatar xq-item-top">
                    <img src="http://www.runoob.com/try/demo_source/mcfly.jpg" />
                    <h2 class="xq-item-h2">{{data.name}}</h2>
                    <button class="xq-item-but">
                        关 注
                    </button>
                    <div class="clear"></div>
                </div>
                <div class="item item-body xq-item-cont">
                    <img class="full-image" ng-src="{{baseUrl}}{{data.imgUrl}}">
                    <div class="xq-item-fl">
                        <ul class="xq-ul">
                            <li><i class="ion ion-ios-pricetag"></i></li>
                            <li><a href="#" class="xq-back">{{data.city}}</a></li>
                            <li ng-repeat="item in data.Item"><a href="#">{{item.name}}</a></li>
                        </ul>
                        <div class="clear"></div>
                        <p>
                            <span class="xq-p-span">{{data.name}}</span>
                        </p>
                        <p class="xq-p">{{data.text}}</p><!--酒店描述-->
                        <p class="xq-p">{{data.address}}</p>
                        <p class="xq-p">联系电话：{{data.tel}}</p>
                    </div>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left" style="background-color:#f6f6f6">
                    <a class="tab-item xq-tab-item" href="#"><!--评论-->
                        <i class="icon ion-chatbox"></i>
                    </a>
                    <a class="tab-item xq-tab-item" href="#"  ng-click="share(data)" ><!--分享-->
                        <i class="icon ion-share"></i>
                    </a>
                    <a class="tab-item xq-tab-item" ng-click="toSaveAgree(data.id)" href="# "><!--点赞-->
                        <i class="icon ion-thumbsup"></i>
                    </a>
                    <a class="tab-item xq-tab-item" href="#" ng-click="toSaveCollection(data.id)"><!--收藏-->
                        <i class="icon ion-android-favorite"></i>
                    </a>
                </div>
                <!--发表评论-->
                <div class="list">
                    <div ng-show="showAnswer" class="sq-show">
                        <div class="item-input-inset ">
                            <label class="item-input-wrapper">
                                <input type="text" ng-model="globalVar.answerText" placeholder="说点什么..." style="width:100%">
                            </label>
                            <button ng-click="answerbbs(data.id)" class="button button-small butt-op">
                                发送
                            </button>
                        </div>
                    </div>
                </div>
                <!--发表评论-->
            </div>

            <!--<div class="list card item-mb xq-item">

                <div class="item item-avatar xq-item-top">
                    <img src="http://www.runoob.com/try/demo_source/mcfly.jpg" />
                    <h2 class="xq-item-h2">皇冠假日酒店</h2>
                    <button class="xq-item-but">
                        关 注
                    </button>
                    <div class="clear"></div>
                </div>

                <div class="item item-body xq-item-cont">
                    <img class="full-image" src="http://www.runoob.com/try/demo_source/delorean.jpg">
                    <div class="xq-item-fl">
                        <ul class="xq-ul">
                            <li><i class="ion ion-ios-pricetag"></i></li>
                            <li><a href="#" class="xq-back">成都</a></li>
                            <li><a href="#">旅行</a></li>
                            <li><a href="#">市区</a></li>
                            <li><a href="#">美食</a></li>
                            <li><a href="#">高档餐厅</a></li>

                        </ul>
                        <div class="clear"></div>
                        <p>
                            <span class="xq-p-span">皇冠假日酒店</span>
                        </p>
                        <p class="xq-p">入住舒适度：9.0分</p>

                        <p class="xq-p">成都市锦江区总府街31号</p>

                        <p class="xq-p">房间数：330 间</p>
                    </div>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left" style="background-color:#f6f6f6">
                    <a class="tab-item xq-tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                    </a>
                    <a class="tab-item xq-tab-item" href="#">
                        <i class="icon ion-share"></i>
                    </a>
                    <a class="tab-item xq-tab-item" href="# ">
                        <i class="icon ion-thumbsup"></i>
                    </a>
                    <a class="tab-item xq-tab-item" href="#">
                        <i class="icon ion-android-favorite"></i>
                    </a>
                </div>

            </div>-->

            <div>
                <div class="xq-foot-top">
                    分享到
                </div>
                <div class="row xq-foot-cont">
                    <div class="col">
                        <a class="col-demo">
                            <img src="images/xq-f1.png" style="width:100%" />
                            <p class="xq-foot-text">Google</p>
                        </a>
                    </div>
                    <div class="col">
                        <a class="col-demo"><img src="images/xq-f2.png" style="width:100%" /></a>
                        <p class="xq-foot-text">twit</p>
                    </div>
                    <div class="col">
                        <a class="col-demo"><img src="images/xq-f3.png" style="width:100%" /></a>
                        <p class="xq-foot-text">Face</p>
                    </div>
                    <div class="col">
                        <a class="col-demo"><img src="images/xq-f4.png" style="width:100%" /></a>
                        <p class="xq-foot-text">You</p>
                    </div>
                    <div class="col">
                        <a class="col-demo"><img src="images/xq-f5.png" style="width:100%" /></a>
                        <p class="xq-foot-text">Share</p>
                    </div>
                </div>
                <div class="xq-foot-botton">
                    上期专题
                </div>
                <div>
                    <img src="images/xq-foot.jpg" class="xq-foot-img" />
                </div>
            </div>
        </div>
        <div ng-show="msgShow" style="text-align:center;margin-top:10px;"><h3>暂无数据,请稍后重试！</h3></div>
        <!--内容块-->
        <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>

    </ion-content>
</ion-view>