<ion-view>
            <ion-header-bar class="bar bar-header bar-dark">
                <button class="button icon ion-ios-location" style="border:none"> {{currentCity}}</button>

                <label  ng-click="goToSearch()" class="item item-input" style="margin:0 auto; width:65%; background:#ffffff">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" disabled class="pad-top">
                </label>

                <button ng-click="goToCustomer()" class="button icon ion-android-person" style="border:none"></button>
            </ion-header-bar>

            <ion-content class="zt-conter" style="background-color:#ffffff;">
                <!--内容块-->
                <ul  ng-show="dataShow"  class="zt-cont">
                    <li ng-repeat="data in vm.list" ng-click="goDetail(data.targetType,data.targetId)">
                    <a ng-repeat="image in data.adDetailList" href="#"><img ng-src="{{baseUrl}}{{image.imageUrl}}" />
                     </a>
                    </li>
                </ul>
                <div ng-show="msgShow" style="text-align:center;margin-top:10px;"><h3>暂无数据,请稍后重试！</h3></div>
                <!--内容块-->
                <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
                <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
            </ion-content>

</ion-view>