<ion-view style="color:#fff; font-family:'微软雅黑';">
    <ion-header-bar class="bar bar-header item-input-inset bar-dark">

        <button class="button icon-left ion-ios-location" ng-click="goToLocation()" style="border:none;padding-left:0px;">
            {{setCity}}
        </button>
        <label ng-click="goToSearch()" class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input readonly type="search" placeholder="搜索">
        </label>
        <button ng-click="goToCustomer()" class="button button-clear ion-android-person"></button>

    </ion-header-bar>

    <ion-content>
        <!-- <ion-refresher> 下拉刷新指令  -->
        <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>

        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" ng-if="adData">
            <ion-slide ng-repeat="ad in adData" repeat-done="repeatDone()" style="height:150px;">
                <img ng-src="{{baseUrl}}{{ad.adDetailList[0].imageUrl}}" ng-click="goToAd(ad.id)" style="width:100%;height:100%;" />
            </ion-slide>
        </ion-slide-box>

        <div style="height:310px;margin-top:10px;margin-bottom:10px;">
            <div class="swiper-container" id="homeSwiper">
                <div class="swiper-wrapper" style="color:black;">
                    <!--<div class="swiper-slide" ng-repeat="swiper in swiperAdData" ng-click="goToHotelList(swiper.itemTagId)">
                        <img ng-src="{{baseUrl}}{{swiper.imageUrls[0]}}" class="main-img" ng-if="swiper.imageUrls[0]" />
                        <img ng-src="{{baseUrl}}{{swiper.defaultImageUrl}}" class="main-img" ng-if="!swiper.imageUrls[0]" />
                    </div>-->
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)" style="border:1px solid black;box-shadow: 3px 3px 3px #888888;">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;"/>
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png"  style="width:100%;"/>
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;"/>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" ng-click="goToHotelList(swiperAdData[0].itemTagId)">
                        <!--<div class="title">{{swiperAdData[0].name}}</div>-->
                        <div class="row" style="padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>酒店</strong></div>
                        </div>
                        <div class="row" style="padding-bottom:1px;">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                            <div class="col col-50" style="padding:1px;">
                                <img src="images/a.png" style="width:100%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--酒店分类end-->
        <!--活动推荐begin-->
        <div style="background-color:#f2ecec;">
            <div class="item">
                <h2>活动推荐</h2>
            </div>
            <a href="#" ng-repeat="fad in footAdData">
                <img ng-src="{{baseUrl}}{{fad.adDetailList[0].imageUrl}}" ng-click="goToAd(fad.id)" style="margin-bottom:10px; width:100% " />
            </a>
            <div class="item" ng-click="goDiscover()" style="text-align:center">
                <a href="#" style="color:#ffd800">更多推荐 ></a>
            </div>
        </div>
    </ion-content>
</ion-view>
