<ion-view>
    <div class="hear">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" ng-click="goToSearch()">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" readonly placeholder="搜索" class="font-f">
            </label>
            <button class="button button-clear ion-ios-location" ng-click="goToLocation()"><i class="fo-s14 ma-l-5 colo-6 font-f">{{setCity}}</i></button>
        </div>
    </div>
  
    <ion-content style="background:#f1f2f4" lazy-scroll>
        <!-- <ion-refresher> 下拉刷新指令  -->
        <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>
        <div class="hzf-cont">
            <!--banner-->
            <ion-slide-box class="hzf-cont" on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="true" auto-play="true" ng-if="adData">
                <ion-slide ng-repeat="ad in adData" repeat-done="repeatDone()" style="width:100%;">
                    <img image-lazy-src="{{baseUrl}}{{ad.adDetailList[0].imageUrl}}" ng-click="goToAd(ad.id)" style="width:100%;" err-src="images/default/home/16-9.jpg" />
                </ion-slide>
            </ion-slide-box>
            <!--banner-->
            <ks-swiper-container speed="3000" loop="true" show-nav-buttons="false" autoplay="false" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}" on-ready="onReadySwiper(swiper)">
                <ks-swiper-slide class="swiper-slide" ng-repeat="swiperItem in swiperAdData">
                    <div style="background-color:white;" class="cont-bor-box-shadow ">
                        <div class="row" style="text-align:center;padding-bottom:1px;font-family:'微软雅黑'; color:#474747; font-size:1.25em;">
                            <div class="col col-100" style="line-height:30px;"><strong>{{swiperItem.name}}</strong></div>
                        </div>

                        <div class="row" style="padding:1px;padding-bottom:0px;">
                            <div class="col col-50" style="padding:0.5px;height:90px;width:90px;overflow:hidden;" ng-click="goToItemList(swiperItem.itemTagId,swiperItem.hotelItems[0].itemId,swiperItem.hotelItems[0].itemTagId)">
                                <img image-lazy-src="{{baseUrl}}{{swiperItem.hotelItems[0].imageUrl}}" style="width:100%; height:100%" err-src="images/default/home/longPic.jpg" />                              
                                
                            </div>
                            
                            <div class="col col-50" style="padding:0.5px;height:90px;width:90px;overflow-y:hidden" ng-click="goToItemList(swiperItem.itemTagId,swiperItem.hotelItems[1].itemId,swiperItem.hotelItems[1].itemTagId)">
                                <img image-lazy-src="{{baseUrl}}{{swiperItem.hotelItems[1].imageUrl}}" style="width:100%;height:100%"err-src="images/default/home/longPic.jpg" />
                                
                            </div>
                            <!--<div class="col col-50" style="padding:0.5px;height:90px;width:90px;" ng-click="goToItemList(swiperItem.itemTagId,swiperItem.hotelItems[1].itemId,swiperItem.hotelItems[1].itemTagId)">
                                <div class="sq-cont-img-div" image-lazy-src="{{baseUrl}}{{swiperItem.hotelItems[1].imageUrl}}" image-lazy-background-image="true" style="background-size:cover; background-position:center" err-src="images/failed.png"></div>
                            </div>-->
                        </div>
                        <div class="row" style="padding:1px;padding-top:0px;margin-top:0px;">
                            <div class="col col-50" style="padding:0.5px;height:90px;width:90px; overflow-y:hidden" ng-click="goToItemList(swiperItem.itemTagId,swiperItem.hotelItems[2].itemId,swiperItem.hotelItems[2].itemTagId)">
                                <img image-lazy-src="{{baseUrl}}{{swiperItem.hotelItems[2].imageUrl}}" style="width:100%;height:100%" err-src="images/default/home/longPic.jpg" />
                                
                            </div>
                            <div class="col col-50" style="padding:0.5px;height:90px;width:90px;overflow-y:hidden" ng-click="goToItemList(swiperItem.itemTagId,swiperItem.hotelItems[3].itemId,swiperItem.hotelItems[3].itemTagId)">
                                <img image-lazy-src="{{baseUrl}}{{swiperItem.hotelItems[3].imageUrl}}" style="width:100%;height:100%" err-src="images/default/home/longPic.jpg"/>
                                
                            </div>
                        </div>
                    </div>
                </ks-swiper-slide>
            </ks-swiper-container>
            <div class="ma-b-10 cont-bor-box-shadow" style="margin-top:3px;">
                <div class="zt-cter row">
                    <div class="col-42 pa-l-r-10"><img image-lazy-src="images/liubai.png" style="width:90%" /></div>
                    <div class="col-58 pa-l-r-10 border-l fo-s14 font-f colo-6 zt-cter-text">预定住宿，乐享优惠。</div>
                </div>
            </div>
            <div class="ma-b-10 zt-cont-no">
                <div class="row" ng-if="footAdData.length>=3">
                    <div class="col col-42 zt-img pa-10">
                        <img image-lazy-src="{{baseUrl}}{{footAdData[0].adDetailList[0].imageUrl}}" ng-click="goToAd(footAdData[0].id)" style="width:100%;height:100%" />
                    </div>
                    <div class="col col-58 zt-img border-r pa-0">
                        <div class="pa-10 border-b zt-w-h">
                            <img image-lazy-src="{{baseUrl}}{{footAdData[1].adDetailList[0].imageUrl}}" ng-click="goToAd(footAdData[1].id)" style="width:100%;height:100%" />
                        </div>
                        <div class="pa-10 zt-w-h">
                            <img image-lazy-src="{{baseUrl}}{{footAdData[2].adDetailList[0].imageUrl}}" ng-click="goToAd(footAdData[2].id)" style="width:100%; height:100%" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- 专题大于3个 -->
            <div class="zt-cont" ng-if="footAdData.length>3">
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="tit">
                            <ul>
                                <li class="fo-s18 ma-to-10 ma-b-5 colo-6">实时专题<i></i></li>
                                <li class="fo-s12 colo-9 text-ce">不一样的专题，让你体验不一样的生活</li>
                            </ul>
                        </div>
                        <div class="ma-to-10" ng-repeat="item in footAdData" ng-if="$index>2">
                            <div class="ma-b-10 ix-img-cont">
                                <img image-lazy-src="{{baseUrl}}{{item.adDetailList[0].imageUrl}}" ng-click="goToAd(item.id)" style="width:100%; height:100%" />
                            </div>
                            <span class="fl font-f fo-s12 colo-6">{{item.adDetailList[0].text| cut:true:100:' ...'}}</span>
                            <div class="fr font-f fo-s12 colo-9"><i class="ion-heart fo-s14 ma-r-5" style="color:#eb5d54;"></i>已有20人参与</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 有专题但专题不足3个 -->
            <div class="zt-cont" ng-if="footAdData.length<3&&footAdData.length>0">
                <div class="card">
                    <div class="item item-text-wrap" ng-if="footAdData.length<3&&footAdData.length>0">
                        <div class="tit">
                            <ul>
                                <li class="fo-s18 ma-to-10 ma-b-5 colo-6">实时专题<i></i></li>
                                <li class="fo-s12 colo-9 text-ce">不一样的专题，让你体验不一样的生活</li>
                            </ul>
                        </div>
                        <div class="ma-to-10" ng-repeat="item in footAdData">
                            <div class="ma-b-10 ix-img-cont">
                                <img image-lazy-src="{{baseUrl}}{{item.adDetailList[0].imageUrl}}" ng-click="goToAd(item.id)" style="width:100%; height:100%" />
                            </div>
                            <span class="fl font-f fo-s12 colo-6">{{item.adDetailList[0].text| cut:true:100:' ...'}}</span>
                            <div class="fr font-f fo-s12 colo-9"><i class="ion-heart fo-s14 ma-r-5" style="color:#eb5d54;"></i>已有20人参与</div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll ng-if="vm.moredata" on-infinite="vm.loadMore()" distance="10%"></ion-infinite-scroll>
</ion-view>
