
<ion-view>
    <!--头部begin-->
    <ion-header-bar class="bar bar-header bar-dark">
        <button class="button icon ion-ios-location" ng-click="goToLocation()" style="border:none">{{currentCity}}</button>
        <label ng-click="goToSearch()" class="item item-input" style="margin:0 auto; width:60%; background:#ffffff">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" disabled class="pad-top">
        </label>

        <button ng-click="goToCustomer()" class="button icon ion-android-person" style="border:none"></button>
    </ion-header-bar>
    <!--头部begin-->
    <!--body begin-->
    <ion-content>
        <!-- <ion-refresher> 下拉刷新指令  -->
        <ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>
        <!--广告推广begin-->
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" ng-if="adData" ><!--ng-if="adData"-->
            <ion-slide ng-repeat="ad in adData" repeat-done="repeatDone()">
                <img ng-src="{{baseUrl}}{{ad.adDetailList[0].imageUrl}}" ng-click="goToAd(ad)" alt="" style="width:100%; height:100%" />
            </ion-slide>
        </ion-slide-box>
        <!--广告推广end-->
        <!--酒店分类begin-->
        <div class="device">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide red-slide">
                        <div class="title">Slide 1</div>
                    </div>
                    <div class="swiper-slide blue-slide">
                        <div class="title">Slide 2</div>
                    </div>
                    <div class="swiper-slide orange-slide">
                        <div class="title">Slide 3</div>
                    </div>
                    <div class="swiper-slide blue-slide">
                        <div class="title">Slide 4</div>
                    </div>
                    <div class="swiper-slide red-slide">
                        <div class="title">Slide 5</div>
                    </div>
                    <div class="swiper-slide blue-slide">
                        <div class="title">Slide 6</div>
                    </div>

                </div>
            </div>
            <div class="pagination"></div>
        </div>
        <!--<div class="device" >
            <div class="swiper-container" ng-if="swiperAdData">-->
                <!--酒店滚动菜单数据加载-->
                <!--<admenu menuData="{{swiperAdData}}" class="swiper-wrapper"></admenu>-->
                <!--<div class="swiper-wrapper" >
                    <div ng-click="hotelType()" class="swiper-slide red-slide red-padding" ng-repeat="menu in swiperAdData">
                        <div class="title" style="">
                            {{menu.name}}
                        </div>
                        <div class="scroll-content has-header mar-top">
                            <div class="row">
                                <div class="col"><img ng-src="{{baseUrl}}{{menu.imageUrls[0]}}" width="100%" height="40%" /></div>
                                <div class="col"><img ng-src="{{baseUrl}}{{menu.imageUrls[1]}}" width="100%" height="40%" /></div>-->
                                <!--<div class="col "><img src="images/a.png" width="100%" height="40%" /></div>
                                <div class="col "><img src="images/b.png" width="100%" height="40%" /></div>-->
                            <!--</div>
                            <div class="row">
                                <div class="col"><img ng-src="{{baseurl}}{{menu.imageurls[2]}}" width="100%" height="40%" /></div>
                                <div class="col"><img ng-src="{{baseurl}}{{menu.imageurls[3]}}" width="100%" height="40%" /></div>-->
                                <!--<div class="col "><img src="images/a.png" width="100%" height="40%" /></div>
                                <div class="col "><img src="images/b.png" width="100%" height="40%" /></div>-->
                            <!--</div>
                        </div>
                    </div>
                </div>-->
                    <!--
                    <div class="swiper-slide red-slide red-padding">
                        <div class="title" style="">
                            文件控制
                        </div>
                        <div class="scroll-content has-header mar-top">
                            <div class="row ">
                                <div class="col "><img src="images/a.png" width="100%" height="40%" /></div>
                                <div class="col "><img src="images/b.png" width="100%" height="40%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="40%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="40%" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide red-slide red-padding">
                        <div class="title" style="">
                            文件控制
                        </div>
                        <div class="scroll-content has-header mar-top">
                            <div class="row">
                                <div class="col"><img src="images/a.png" width="100%" height="40%" /></div>
                                <div class="col"><img src="images/b.png" width="100%" height="40%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="40%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="40%" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide red-slide red-padding">
                        <div class="title" style="">
                            文件控制
                        </div>
                        <div class="scroll-content has-header mar-top">
                            <div class="row">
                                <div class="col"><img src="images/a.png" width="100%" height="40%" /></div>
                                <div class="col"><img src="images/b.png" width="100%" height="40%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="40%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="40%" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide red-slide red-padding">
                        <div class="title" style="">
                            更多
                        </div>
                        <div class="scroll-content has-header mar-top">
                            <div class="row">
                                <div class="col"><img src="images/a.png" width="100%" height="20%" /></div>
                                <div class="col"><img src="images/b.png" width="100%" height="20%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="20%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="20%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="20%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="20%" /></div>
                            </div>
                            <div class="row">
                                <div class="col"><img src="images/c.png" width="100%" height="20%" /></div>
                                <div class="col"><img src="images/d.png" width="100%" height="20%" /></div>
                            </div>
                        </div>
                    </div>
                </div>-->
            <!--</div>
            <div class="pagination"></div>-->
        <!--</div>-->
        <!--酒店分类end-->
        <!--活动推荐begin-->
        <div>
            <div class="item">
                <h2>活动推荐</h2>
            </div>
            <a href="#" ng-repeat="fad in footAdData">
            <img ng-src="{{baseUrl}}{{fad.adDetailList[0].imageUrl}}" ng-click="goToAd(fad)" style="margin-bottom:10px; width:100% " />
            </a>
            <!--<a href="#"><img src="images/u92.jpg" style="margin-bottom:10px; width:100% " /></a>
            <a href="#"><img src="images/u94.jpg" style="margin-bottom:10px; width:100% " /></a>
            <a href="#"><img src="images/u96.jpg" style="margin-bottom:10px; width:100% " /></a>-->
            <div class="item" style="text-align:center">
                <a href="#" style="color:#ffd800">更多推荐 ></a>
            </div>
        </div>
        <!--活动推荐end-->
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
        <!--<ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>-->
    </ion-content>
    <!--body end-->
    <!--底部begin-->
    <ion-footer-bar align-title="left" class="bar-dark">
        <!--首页-->
        <a class="tab-item" href="#">
            <i class="icon ion-ios-home-outline"></i>
        </a>
        <!--发现-->
        <a class="tab-item" ng-click="goDiscover()" href="#">
            <i class="icon ion-ios-eye-outline"></i>
        </a>
        <!--社区-->
        <a class="tab-item" href="#" ng-click="goCommunity()">
            <i class="icon ion-ios-people-outline"></i>
        </a>
       <!--入住-->
        <a class="tab-item" href="#">
            <i class="icon ion-android-checkbox-outline"></i>
        </a>
    </ion-footer-bar>
    <!--底部end-->
</ion-view>