<style type="text/css">
    .selected {
        background-color: red;
    }
       .uselected {
        background-color: #e2e2e2;
    }
</style>

<ion-view view-title="个人中心">
    
    <ion-content>
        <button ng-click="goBack()">返回</button>
      
                    <ul >
                        <li  ng-repeat="a in b" ng-click="selectRestaurant({{a.id}})"
                             ng-class='{selected: a.id==selectedI}'>{{a.name}}</li>
                    </ul>
     
        <div ng-repeat="d in c">
            {{d.name}}
        </div>
   </ion-content>
</ion-view>